.primaryfont-color {
  color: #008060 !important;
}

body {
  background-color: #F6F6F8;
}

.App {

  max-width: 600px;
  margin: auto;
}

.product-title-wrapper {
  display: flex;
  background-color: #fff;
  padding: 10px;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  width: 250px !important;
}



.cancel-icon {
  color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  right: -15%;
  top: 19%;
  transform: translate(-50%, -50%);
}

.w-80 {
  width: 80%;
}

.w-30 {
  width: 30%;
}
.varints-btn {
  display: table-caption;
}

.discount-inputfeild {
  border: none;
  box-shadow: 2px 2px #0000001A !important;
  border-radius: 5px;
}
.discount-select{
  border-radius: 5px;
}
.variant-title{
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}


.discount-input-wrapper {
  background-color: transparent !important;
}

.varinats-cancel-icon {
  color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transform: translate(-50%, -50%);
  right: -11%;
  top: 46%;
}

.addproduct-btn {
  border: 2px solid #008060 !important;
  color: #008060 !important;
}

.addproduct-btn:hover {
  color: #008060 !important;
  background-color: #fff !important;
}

.addiscount-btn {
  border: 2px solid #008060 !important;
  color: #008060 !important;
}

.addiscount-btn:hover {
  color: #008060 !important;
  background-color: #fff !important;

}

.show-variants-btn {
  text-decoration: underline;
}

.variant-title,
.discount-select,
.discount-inputfeild,
.product-title {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 27px, rgba(0, 0, 0, 0.22) 0px 0px 30px !important;
}